/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Martel'), local('Martel-Regular'), url(https://fonts.gstatic.com/s/martel/v4/PN_xRfK9oXHga0XtYQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Martel ExtraBold'), local('Martel-ExtraBold'), url(https://fonts.gstatic.com/s/martel/v4/PN_yRfK9oXHga0XVwe4ahQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
.resource-label {
  font-weight: bold;
  text-transform: uppercase;
}
.tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}
.tabs .item {
  line-height: 40px;
  font-weight: bold;
}
.tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}
.flex-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.flex-between {
  justify-content: space-between;
}
.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}
.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}
.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}
.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}
.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}
.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}
.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}
.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}
.window-app {
  font-family: 'Roboto', sans-serif;
}
.rollable:hover,
.rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.yzecoriolis.sheet.actor {
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Tabs                             */
  /* ----------------------------------------- */
}
.yzecoriolis.sheet.actor .sheet-header {
  flex: 0 0 210px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.yzecoriolis.sheet.actor .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.yzecoriolis.sheet.actor .sheet-header .header-fields {
  flex: 1;
}
.yzecoriolis.sheet.actor .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.yzecoriolis.sheet.actor .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.yzecoriolis.sheet.actor .sheet-tabs {
  flex: 0;
}
.yzecoriolis.sheet.actor .sheet-body,
.yzecoriolis.sheet.actor .sheet-body .tab,
.yzecoriolis.sheet.actor .sheet-body .tab .editor {
  height: 100%;
}
.yzecoriolis.sheet.actor .tox .tox-editor-container {
  background: #fff;
}
.yzecoriolis.sheet.actor .tox .tox-edit-area {
  padding: 0 8px;
}
.yzecoriolis.sheet.actor .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}
.yzecoriolis.sheet.actor .tabs .item {
  line-height: 40px;
  font-weight: bold;
}
.yzecoriolis.sheet.actor .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}
.yzecoriolis.sheet.actor .attributes-list {
  flex: 0 0 100%;
  list-style: none;
}
.yzecoriolis.sheet.actor .attribute-item {
  list-style: none;
}
.yzecoriolis.sheet.actor .skills-list {
  flex: 0 0 250px;
  list-style: none;
}
.yzecoriolis.sheet.actor .skill-input {
  flex: 0 0 40px;
  text-align: center;
}
.yzecoriolis.sheet.item .item-form {
  font-family: 'Roboto', sans-serif;
}
.yzecoriolis.sheet.item .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.yzecoriolis.sheet.item .items-list .item-header {
  font-weight: bold;
}
.yzecoriolis.sheet.item .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}
.yzecoriolis.sheet.item .items-list .item .item-image {
  flex: 0 0 24px;
  margin-right: 5px;
}
.yzecoriolis.sheet.item .items-list .item img {
  display: block;
}
.yzecoriolis.sheet.item .items-list .item-name {
  margin: 0;
}
.yzecoriolis.sheet.item .items-list .item-controls {
  flex: 0 0 86px;
  text-align: right;
}
.yzecoriolis.sheet.item .sheet-header .talent-category {
  flex: 0 0 275px;
}
.yzecoriolis.sheet.item .sheet-header .cost-input {
  width: 50px;
}
.yzecoriolis.sheet.item .sheet-header .cost-label {
  font-weight: bold;
  text-transform: uppercase;
  flex: 0 0 75px;
}
.yzecoriolis.sheet.item .sheet-header .cost-currency-label {
  font-weight: bold;
  text-transform: uppercase;
  flex: 0 0 75px;
}
