@import "../variables.less";
@import "./coriolis-grid.less";

// utility styles to be used in sheets
.yzecoriolis.sheet.actor {

    // colors
    .blue-1 {
        color: @colorDarkBlue;
    }

    .blue-2 {
        color: @colorStatItemEntryBG;
    }

    .white-1 {
        color: @colorWhite;
    }

    .gray-1 {
        color: @colorGray;
    }

    .gray-2 {
        color: @colorBarOutline;
    }

    .background-blue-1 {
        background-color: @colorDarkBlue;
    }

    .background-blue-2 {
        background-color: @colorStatItemEntryBG;
    }

    .background-blue-3 {
        background-color: @colorStatBG;
    }

    // input only typography
    input[type="text"].input-base {
        color: @colorPlayerText;
        font-family: "Play";
        box-shadow: none;
        border: none;

        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: @colorPlaceHolderPlayerText;
        }
    }

    input[type="text"].text-base {
        font-size: 14px;
    }

    input[type="text"].text-lg {
        font-size: 18px;
    }

    input[type="text"].text-xxl {
        font-size: 50px;
        height: 50px;
    }

    // typography
    .font-cairo {
        font-family: "Cairo";
    }

    .data-label-1 {
        font-family: "Cairo";
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }

    .text-shadow-1 {
        text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
    }


    .text-base {
        font-size: 14px;
    }

    .text-md {
        font-size: 16px;
    }

    .text-lg {
        font-size: 18px;
    }

    .text-xxl {
        font-size: 50px;
    }

    .text-upper {
        text-transform: uppercase;
    }

    // borders

    .border-1 {
        border-width: 1px;
    }

    .border-solid {
        border-style: solid;
    }

    .border-base {
        .border-1();
        .border-solid();
    }

    .border-blue-1 {
        border-color: @colorDarkBlue;
    }

    .border-white-1 {
        border-color: @colorWhite;
    }

    .border-gray-1 {
        border-color: @colorGray;
    }

    .border-gray-2 {
        border-color: @colorBarOutline;
    }

    .rounded {
        border-radius: 3px;
    }

    //margins
    .mg-l {
        margin-left: 15px;
    }

    .mg-b {
        margin-bottom: 15px;
    }

    .mg-r {
        margin-right: 15px;
    }

    .mg-t {
        margin-top: 15px;
    }

    .mg-t-sm {
        margin-top: 10px;
    }

    .mg-t-xsm {
        margin-top: 5px;
    }

    .mg-l-sm {
        margin-left: 10px;
    }

    //padding
    .pl {
        padding-left: 15px;
    }

    .pl-sm {
        padding-left: 10px;
    }

    .pl-xsm {
        padding-left: 5px;
    }

    //alignments
    .self-end {
        align-self: flex-end;
    }

    .justify-end {
        justify-content: flex-end;
    }

    .justify-center {
        justify-content: center;
    }

    .align-items-center {
        align-items: center;
    }

    //heights
    .min-h-75 {
        min-height: 75px;
    }

    .min-h-full {
        min-height: 100%;
    }

    .min-w-full {
        min-width: 100%;
    }

    .max-h-full {
        max-height: 100%;
    }

    .max-w-full {
        max-width: 100%;
    }

    .max-h-412 {
        max-height: 412px;
    }

    //flex

    .flex-basis-294 {
        flex-basis: 294px;
    }

    .flex {
        display: flex;
    }

    .flex-basis-0 {
        flex-basis: 0%;
    }

    .flex-grow {
        flex-grow: 1;
    }

    .flex-shrink-0 {
        flex-shrink: 0;
    }

    .flex-dir-row {
        flex-direction: row;
    }

    .flex-dir-col {
        flex-direction: column;
    }

    //box sizing
    .box-none {
        box-sizing: none;
    }

    // z-indexing
    .z-1 {
        z-index: 1;
    }

    .z-2 {
        z-index: 2;
    }

    .z-3 {
        z-index: 3;
    }

    //overflow
    .overflow-hidden {
        overflow: hidden;
    }
}