@import "./variables.less";

.yzecoriolis.sheet.actor {
    /* ----------------------------------------- */
    /*  Sheet Header                             */
    /* ----------------------------------------- */

    .sheet-header {
        flex: 0 0 210px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 10px;

        .profile-img {
            flex: 0 0 100px;
            height: 100px;
            margin-right: 10px;
        }

        .header-fields {
            flex: 1;
        }

        h1.charname {
            height: 50px;
            padding: 0px;
            margin: 5px 0;
            border-bottom: 0;

            input {
                width: 100%;
                height: 100%;
                margin: 0;
            }
        }
    }

    .sheet-tabs {
        flex: 0;
    }

    .sheet-body,
    .sheet-body .tab,
    .sheet-body .tab .editor {
        height: 100%;
    }

    .tox {
        .tox-editor-container {
            background: @c-white;
        }

        .tox-edit-area {
            padding: 0 8px;
        }
    }

    /* ----------------------------------------- */
    /*  Sheet Tabs                             */
    /* ----------------------------------------- */

    .tabs {
        height: 40px;
        border-top: 1px solid #AAA;
        border-bottom: 1px solid #AAA;

        .item {
            line-height: 40px;
            font-weight: bold;
        }

        .item.active {
            text-decoration: underline;
            text-shadow: none;
        }
    }

    .attributes-list {
        flex: 0 0 100%;
        list-style: none;
    }

    .attribute-item {
        list-style: none;
    }

    .skills-list {
        flex: 0 0 250px;
        list-style: none;
    }

    .skill-input {
        flex: 0 0 40px;
        text-align: center;
    }

    .crit-injuries-list {
        flex: 0 0 100%;
        list-style: none;
    }

    /* ----------------------------------------- */
    /*  Inventory Lists                          */
    /* ----------------------------------------- */

    .tab.features,
    .tab.inventory,
    .tab.spellbook {
        overflow-y: hidden;
    }

    /* Inventory List Filters */
    .inventory-filters {
        margin: 0 8px;
        flex: 0 0 20px;

        h3,
        .filter-title {
            .nodesto();
            color: @colorOlive;
            font-size: 18px;
            margin: 0;
        }

        &.spellbook-filters {
            flex: 0 0 40px;
        }

        .currency {
            list-style: none;
            margin: 4px 0 8px;
            padding: 0;
            font-size: 12px;

            label {
                flex: 0;
                margin-left: 8px;
                text-align: right;
                line-height: 20px;
                color: @colorTan;
            }

            input[type="text"] {
                flex: 0 0 48px;
                text-align: center;
                margin-left: 8px;
                border-bottom: @borderGroove;
            }
        }
    }

    .inventory-list {
        list-style: none;
        margin: 0;
        padding: 0 5px;
        overflow-y: auto;

        // Inventory Item
        .item {
            line-height: 30px;
            padding: 0 2px; // to align with the header border
            border-bottom: 1px solid @colorFaint;

            &:last-child {
                border-bottom: none;
            }

            // Item Header Name
            .item-name {
                cursor: pointer;
                max-height: 30px;
                overflow: hidden;

                .item-image {
                    flex: 0 0 30px;
                    background-size: 30px;
                    margin-right: 5px;
                }

                h4 {
                    margin: 0;
                    white-space: nowrap;
                    overflow-x: hidden;
                }

                &.rollable:hover .item-image {
                    background-image: url("/icons/svg/d20-grey.svg") !important;
                }

                &.rollable .item-image:hover {
                    background-image: url("/icons/svg/d20-black.svg") !important;
                }

                i.attuned {
                    color: @colorTan;
                }
            }

            .gear-name {
                text-align: center;
            }

            .gear-quantity input {
                text-align: center;
                align-items: center;
                justify-content: center;
                padding: 3px;
                border: 1px solid @colorTan;
                width: 50px;
                margin-left: 4px;
                margin-right: 4px;
                background: rgba(0, 0, 0, 0.05);
                border-radius: 3px;
            }

            // Item uses
            .item-uses input {
                width: 24px;
                text-align: center;
            }

            // Item Dropdown Properties
            .item-properties {
                margin-top: 3px;
            }

            // Charged
            .item-recharge {
                flex: 0 0 80px;
                text-align: right;
                font-size: 11px;
                color: @colorTan;
                white-space: nowrap;
            }
        }

        // Inventory Header
        .inventory-header {
            margin: 2px 0;
            padding: 0;
            background: rgba(0, 0, 0, 0.05);
            border: @borderGroove;
            font-weight: bold;
            line-height: 24px;

            h3 {
                margin: 0 -5px 0 0;
                padding-left: 5px;
                font-size: 13px;
                font-weight: bold;
            }

            .item-controls a.item-create {
                flex: 0 0 100%;
            }

            .gear-name {
                text-align: center;
            }
        }

        // Item Detail Sections
        .item-detail {
            flex: 0 0 70px;
            font-size: 12px;
            color: @colorTan;
            text-align: center;
            border-right: 1px solid @colorFaint;

            &:last-child {
                border-right: none;
            }

            &.item-action {
                flex: 0 0 100px
            }
        }

        .item-weight {
            flex: 0 0 60px;
            border-left: 1px solid @colorFaint;
            border-right: 1px solid @colorFaint;
        }

        .item-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        // Item Control Buttons
        .item-controls {
            flex: 0 0 44px;
            .flexrow();
            justify-content: flex-end;

            a {
                flex: 0 0 22px;
                font-size: 12px;
                text-align: center;
                color: @colorTan;
            }
        }

        // Item Dropdown Summary
        .item-summary {
            flex: 0 0 100%;
            font-size: 12px;
            line-height: 16px;
            padding: 0.25em 0.5em;
            border-top: 1px solid @colorFaint;
        }
    }

    .stat-list {
        list-style: none;
        margin: 0;
        padding: 0 5px;
        overflow-y: auto;

        // Skill
        .skill {
            line-height: 30px;
            padding: 0 2px; // to align with the header border
            border-bottom: 1px solid @colorFaint;

            &:last-child {
                border-bottom: none;
            }

            // Item Header Name
            .skill-name {
                cursor: pointer;
                max-height: 30px;
                overflow: hidden;

                .skill-image {
                    flex: 0 0 30px;
                    background-size: 30px;
                    margin-right: 5px;
                }

                h4 {
                    margin: 0;
                    white-space: nowrap;
                    overflow-x: hidden;
                }

                &.rollable:hover .skill-image {
                    background-image: url("/icons/svg/d20-grey.svg") !important;
                }

                &.rollable .skill-image:hover {
                    background-image: url("/icons/svg/d20-black.svg") !important;
                }

                i.attuned {
                    color: @colorTan;
                }
            }

            // Skill uses
            .skill-uses input {
                width: 24px;
                text-align: center;
            }

            // Skill Dropdown Properties
            .skill-properties {
                margin-top: 3px;
            }

            // Charged
            .skill-recharge {
                flex: 0 0 80px;
                text-align: right;
                font-size: 11px;
                color: @colorTan;
                white-space: nowrap;
            }
        }

        // Inventory Header
        .skill-header {
            margin: 2px 0;
            padding: 0;
            background: rgba(0, 0, 0, 0.05);
            border: @borderGroove;
            font-weight: bold;
            line-height: 24px;

            h3 {
                margin: 0 -5px 0 0;
                padding-left: 5px;
                font-size: 13px;
                font-weight: bold;
            }

            .skill-controls a.skill-create {
                flex: 0 0 100%;
            }
        }

        // Item Detail Sections
        .skill-detail {
            flex: 0 0 70px;
            font-size: 12px;
            color: @colorTan;
            text-align: center;
            border-right: 1px solid @colorFaint;

            &:last-child {
                border-right: none;
            }

            &.skill-action {
                flex: 0 0 100px
            }
        }

        .skill-weight {
            flex: 0 0 60px;
            border-left: 1px solid @colorFaint;
            border-right: 1px solid @colorFaint;
        }

        .skill-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        // skill Control Buttons
        .skill-controls {
            flex: 0 0 44px;
            .flexrow();
            justify-content: flex-end;

            a {
                flex: 0 0 22px;
                font-size: 12px;
                text-align: center;
                color: @colorTan;
            }
        }

        // skill Dropdown Summary
        .skill-summary {
            flex: 0 0 100%;
            font-size: 12px;
            line-height: 16px;
            padding: 0.25em 0.5em;
            border-top: 1px solid @colorFaint;
        }
    }

    /* Encumbrance Bar */
    .encumbrance {
        flex: 0 0 12px;
        background: @colorTan;
        margin: 10px 5px 10px 5px;
        border: 1px solid @colorDark;
        border-radius: 3px;
        position: relative;

        .encumbrance-bar {
            position: absolute;
            top: 1px;
            left: 1px;
            background: #6c8aa5;
            height: 8px;
            border: 1px solid #cde4ff;
            border-radius: 2px;

            &.encumbered {
                background: @colorBrightRed;
            }
        }

        .encumbrance-label {
            height: 10px;
            padding: 0 5px;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 13px;
            line-height: 12px;
            text-align: right;
            color: #EEE;
            text-shadow: 0 0 5px #000;
        }

        .encumbrance-breakpoint {
            display: block;
            position: absolute;

            &.encumbrance-33 {
                left: 33%
            }

            &.encumbrance-66 {
                left: 66%
            }
        }

        .arrow-up {
            bottom: 0;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 4px solid #666;
        }

        .arrow-down {
            top: 0;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid #666;
        }

        &.encumbered {
            .arrow-up {
                border-bottom: 4px solid #000;
            }

            .arrow-down {
                border-top: 4px solid #000;
            }
        }
    }

    .critical-injury-list {
        list-style: none;
        margin: 0;
        padding: 0 5px;
        overflow-y: auto;

        // Injury
        .injury {
            line-height: 30px;
            padding: 0 2px; // to align with the header border
            border-bottom: 1px solid @colorFaint;

            &:last-child {
                border-bottom: none;
            }

            // Item Header Name
            .injury-header-name {
                cursor: pointer;
                max-height: 30px;
                overflow: hidden;

                .injury-image {
                    flex: 0 0 30px;
                    background-size: 30px;
                    margin-right: 5px;
                }

                h4 {
                    margin: 0;
                    white-space: nowrap;
                    overflow-x: hidden;
                }
            }

            .injury-name {
                text-align: left;
            }
        }

        // Inventory Header
        .injury-header {
            margin: 2px 0;
            padding: 0;
            background: rgba(0, 0, 0, 0.05);
            border: @borderGroove;
            font-weight: bold;
            line-height: 24px;

            h3 {
                margin: 0 -5px 0 0;
                padding-left: 5px;
                font-size: 13px;
                font-weight: bold;
            }

            .injury-controls a.injury-create {
                flex: 0 0 100%;
            }

            .injury-name {
                text-align: center;
            }
        }

        // injury Detail Sections
        .injury-detail {
            flex: 0 0 70px;
            font-size: 12px;
            color: @colorTan;
            text-align: center;
            border-right: 1px solid @colorFaint;

            &:last-child {
                border-right: none;
            }

            &.injury-action {
                flex: 0 0 100px;
            }
        }

        .injury-weight {
            flex: 0 0 60px;
            border-left: 1px solid @colorFaint;
            border-right: 1px solid @colorFaint;
        }

        .injury-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        // injury Control Buttons
        .injury-controls {
            flex: 0 0 44px;
            .flexrow();
            justify-content: flex-end;

            a {
                flex: 0 0 22px;
                font-size: 12px;
                text-align: center;
                color: @colorTan;
            }
        }

        // injury Dropdown Summary
        .injury-summary {
            flex: 0 0 100%;
            font-size: 12px;
            line-height: 16px;
            padding: 0.25em 0.5em;
            border-top: 1px solid @colorFaint;
        }
    }

}