@import "./variables.less";

.yzecoriolis.sheet.actor {

    /*
    Background & Container
    */
    .window-content {
        background: linear-gradient(90deg, #000000 30.35%, rgba(0, 0, 0, 0) 100%),
            url("images/char-sheet-bg.jpg");
    }

    .sheet-container {
        display: grid;
        grid-template-columns: 1fr 2.3fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 0px;
    }

    /*
    Key Art
    */
    .key-art-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 20px;
        width: 278px;
        height: 760px;

        .character-art {
            grid-row-start: 1;
            grid-row-end: 4;
            grid-column-start: 1;
            grid-column-end: 2;
            z-index: 1;

            .vertical-img {
                border: 1px solid #ffffff;
                box-sizing: border-box;
                border-radius: 10px;
                height: 100%;
            }
        }

        .gradient-overlay {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.635714) 28.12%, @colorBlack 72.92%);
            grid-row-start: 2;
            grid-row-end: 4;
            grid-column-start: 1;
            grid-column-end: 2;
            z-index: 2;
        }

        .always-visible-stats {

            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 1;
            grid-column-end: 2;
            z-index: 3;
        }
    }

    /*
    Content Box
    */

    /*
    Header
    */

}