<div class="yzecoriolis chat-item">
    <div class="header">
        <img src="{{icon}}" width="64px" title="{{localize (getItemTypeName item.type)}}">
        <h3>{{item.name}}</h3>

        {{#if_eq item.type 'talent'}}
        <h4>[ {{localize (getTalentCategoryName item.data.category)}} ]</h4>
        {{else}}
        {{#if item.data.explosive}}
        <h4>[ {{localize  "YZECORIOLIS.Explosive"}} ]</h4>
        {{else}}
        <h4>[ {{localize (getItemTypeName item.type)}} ]</h4>
        {{/if}}
        {{/if_eq}}
    </div> 
    
    <!-- ARMOR DATA -->
    {{#if_eq item.type 'armor'}}
    <div>
        {{#if item.data.restricted}}
        <p><strong>{{localize "YZECORIOLIS.Restricted"}}</strong></p> 
        {{/if}}
        <p><strong>{{localize "YZECORIOLIS.TechTier"}} : </strong>{{getTechTierName item.data.techTier}}</p>  
        <p><strong>{{localize "YZECORIOLIS.ArmorRating"}}: </strong>{{item.data.armorRating}}</p>
        <p><strong>{{localize "YZECORIOLIS.Weight"}} : </strong>{{ getWeightName item.data.weight}}</p>  
        <p><strong>{{localize "YZECORIOLIS.Cost"}} : </strong>{{item.data.cost}} {{localize "YZECORIOLIS.Birr"}}</p>  
    </div>
    {{/if_eq}}

    <!-- GEAR DATA -->
    {{#if_eq item.type 'gear'}}
    <div>
        {{#if item.data.restricted}}
        <p><strong>{{localize "YZECORIOLIS.Restricted"}}</strong></p>  
        {{/if}}
        <p><strong>{{localize "YZECORIOLIS.TechTier"}} : </strong>{{getTechTierName item.data.techTier}}</p>  
        <p><strong>{{localize "YZECORIOLIS.Weight"}} : </strong>{{ getWeightName item.data.weight}}</p>  
        <p><strong>{{localize "YZECORIOLIS.Cost"}} : </strong>{{item.data.cost}} {{localize "YZECORIOLIS.Birr"}}</p>  
    </div>
    {{/if_eq}}

    <!-- INJURY DATA -->
    {{#if_eq item.type 'injury'}}
    <div>
        {{#if item.data.fatal}}
        <p><strong>{{localize "YZECORIOLIS.FatalInjury"}}</strong></p>  
        {{/if}}
        <p><strong>{{localize "YZECORIOLIS.InjuryTimeLimitRoll"}} : </strong>{{item.data.timeLimit}}</p>  
        <p><strong>{{localize "YZECORIOLIS.InjuryHealTimeRoll"}} : </strong>{{item.data.healTime}}</p>  
    </div>
    {{/if_eq}}

    <!-- TALENT DATA -->
    {{#if_eq item.type 'talent'}}
    <div>
        {{#if item.data.cost}}
        <p><strong>{{localize "YZECORIOLIS.Cost"}} : </strong>{{item.data.cost}} {{localize "YZECORIOLIS.Birr"}}</p>  
        {{/if}}
        {{#if item.data.hpBonus}}
        <p><strong>{{localize "YZECORIOLIS.HPBonus"}}: </strong>{{item.data.hpBonus}}</p>
        {{/if}}
        {{#if item.data.mpBonus}}
        <p><strong>{{localize "YZECORIOLIS.MPBonus"}}: </strong>{{item.data.mpBonus}}</p>
        {{/if}}
    </div>
    {{/if_eq}}

    <!-- WEAPON DATA -->
    {{#if_eq item.type 'weapon'}}
    <div>
        {{#if item.data.restricted}}
        <p><strong>{{localize "YZECORIOLIS.Restricted"}}</strong></p>  
        {{/if}}
        <p><strong>{{localize "YZECORIOLIS.TechTier"}} : </strong>{{getTechTierName item.data.techTier}}</p>  
        <p><strong>{{localize "YZECORIOLIS.Weight"}} : </strong>{{ getWeightName item.data.weight}}</p>  
        <p><strong>{{localize "YZECORIOLIS.Cost"}} : </strong>{{item.data.cost}} {{localize "YZECORIOLIS.Birr"}}</p>  
        <p><strong>{{localize "YZECORIOLIS.Bonus"}}: </strong>{{item.data.bonus}}</p>
        <p><strong>{{localize "YZECORIOLIS.Initiative"}}: </strong>{{item.data.initiative}}</p>
        <p><strong>{{localize "YZECORIOLIS.Damage"}} : </strong>{{item.data.damage}}</p> 
        <p><strong>{{localize "YZECORIOLIS.Crit"}} : </strong>{{getWeaponCritDisplay item.data.crit}}</p> 
        {{#if item.data.explosive}}
            <p><strong>{{localize "YZECORIOLIS.BlastPower"}} : </strong>{{item.data.blastPower}}</p>
            <p><strong>{{localize "YZECORIOLIS.BlastRadius"}} : </strong>{{item.data.blastRadius}}</p>
        {{else}}
            <p><strong>{{localize "YZECORIOLIS.Range"}} : </strong>{{getRangeName item.data.range}}</p>
            {{#if item.data.automatic}}
            <p><strong>{{localize "YZECORIOLIS.Automatic"}}</strong></p> 
            {{/if}}  
        {{/if}}
    </div>
    {{/if_eq}}

    <!-- DESCRIPTION -->
    {{{item.data.description}}}
</div>
