<div class="dice-roll yzecoriolis">
    <div class="dice-result">
        {{#if results.limitedSuccess}}
        <h4 class="dice-total limitedSuccess">{{localize "YZECORIOLIS.RollLimitedSucces"}}</h4>
        {{/if}}
        {{#if results.failure}}
        <h4 class="dice-total criticalfailure">{{localize "YZECORIOLIS.RollFailure"}}</h4>
        {{/if}}
        {{#if results.criticalSuccess}}
        <h4 class="dice-total criticalSuccess">{{localize "YZECORIOLIS.RollCriticalSucces"}}</h4>
        {{/if}}
        {{{tooltip}}}
        <div class="dice-formula"><i class=" fas fa-chevron-down"></i></div>
    </div>
</div>


{{#if hasExtraText}}
<div class="extra-text gm-sensitive">{{{extraText}}}</div>
{{/if}}

{{#if hasProperties}}
{{#each properties as |prop|}}
<div class="flexcol property-group gm-sensitive">
    <label>{{prop.header}}</label>
    <div class="flexrow">
        {{#each prop.value as |v|}}
        <span class="tag">{{{v}}}</span>
        {{/each}}
    </div>
</div>
{{/each}}
{{/if}}