<div>
    <label style="position:relative; bottom:6px;">{{localize "YZECORIOLIS.AutomaticFire"}}</label>
    <input type='checkbox' name='automaticFire' data-dtype='Boolean' />
    <span class='ignoredOnes' hidden style="display: none; position:relative; bottom:6px;"> ({{localize "YZECORIOLIS.AutomaticFireModifier"}})
      <br/><br/>
      <label style="position:relative; bottom:6px;">{{localize "YZECORIOLIS.Talent"}}: {{localize "YZECORIOLIS.TalentMachinegunner"}}?</label>
      <input type='checkbox' name='machineGunner' data-dtype='Boolean' />
      <br/>
      <label style="position:relative; bottom:6px;">{{localize "YZECORIOLIS.Weapon"}}: {{localize "YZECORIOLIS.FeatureWeaponHighCapacity"}}?</label>
      <input type='checkbox' name='highCapacity' data-dtype='Boolean' />
    </span>
</div>
<br/>
