<h3>{{localize "YZECORIOLIS.AutomaticFire"}}</h3>
<div>
    <input type='checkbox' name='automaticFire' data-dtype='Boolean' />
    <label style="position:relative; bottom:6px;">{{localize "YZECORIOLIS.AutomaticFire"}}</label>
    <span class='ignoredOnes' hidden style="display: none; position:relative; bottom:6px;">
      <br/><br/>
      <em>({{localize "YZECORIOLIS.AutomaticFireModifier"}})</em>
      <br/><br/>
      <input type='checkbox' name='machineGunner' data-dtype='Boolean' />
      <label style="position:relative; bottom:6px;">{{localize "YZECORIOLIS.Talent"}}: {{localize "YZECORIOLIS.TalentMachinegunner"}}?</label>
      <br/>
      <input type='checkbox' name='highCapacity' data-dtype='Boolean' />
      <label style="position:relative; bottom:6px;">{{localize "YZECORIOLIS.Weapon"}}: {{localize "YZECORIOLIS.FeatureWeaponHighCapacity"}}?</label>
    </span>
</div>
<br/>
