<div class="tab panel" data-group="primary" data-tab="stats">
    <ul class="attribute-list">
        {{#each data.attributes as |ability key|}}
        <li>
            <div class="flexcol attr-item">
                <div class="attr-block bg-{{key}}">
                    <div class="attr-num-display">
                        <input class="attr-input" type="text" name="data.attributes.{{key}}.value"
                            value="{{ability.value}}" data-dtype="Number" placeholder="0" />
                    </div>
                </div>
                <div class="attr-name">{{getAttributeName key}}</div>
                <div class="attr-rollable  rollable" data-rolltype="attribute" data-attributekey={{key}}
                    data-roll="(@attributes.{{key}}.value)d6" data-label="{{getAttributeRollName key}}"><img
                        src="systems/yzecoriolis/css/icons/rolling-dices.svg"></div>
            </div>
        </li>
        {{/each}}
    </ul>

    <div class="skills-list-group flexrow">
        <ol class="single-skill-list">
            <li class="skill-header">{{getSkillCategoryName 'general'}}</li>
            {{#each data.skills as |skill id|}}
            {{#if_eq skill.category 'general'}}
            <li class="skill fr-basic">
                <div class="fr-basic rollable flex1" data-rolltype="general" data-attributekey={{skill.attribute}}
                    data-skillkey={{id}} data-label="{{getSkillRollName id}}">
                    <div class="skill-image"></div>
                    <h4>{{getSkillName id}}</h4>
                    <div class="bg-skill-{{skill.attribute}}"></div>
                </div>

                <div class="skill-value-display">
                    <input class="skill-input" type="text" name="data.skills.{{id}}.value" value="{{skill.value}}"
                        data-dtype="Number" />
                </div>
            </li>
            {{/if_eq }}
            {{/each}}
        </ol>
        <ol class="single-skill-list">
            <li class=" skill-header">{{getSkillCategoryName 'advanced'}}</li>
            {{#each data.skills as |skill id|}}
            {{#if_eq skill.category 'advanced'}}
            <li class="skill fr-basic">
                <div class="fr-basic rollable flex1" data-rolltype="advanced" data-attributekey={{skill.attribute}}
                    data-skillkey={{id}} data-label="{{getSkillRollName id}}">
                    <div class="skill-image"></div>
                    <h4>{{getSkillName id}}</h4>
                    <div class="bg-skill-{{skill.attribute}}"></div>
                </div>

                <div class="skill-value-display">
                    <input class="skill-input" type="text" name="data.skills.{{id}}.value" value="{{skill.value}}"
                        data-dtype="Number" />
                </div>
            </li>
            {{/if_eq }}
            {{/each}}
        </ol>
    </div>

    <ul class="critical-injuries-list">
        <li class="crit-header">
            <h4>{{localize "YZECORIOLIS.CriticalInjuries"}}</h4>
            {{#if owner}}
            <div class="crit-add-controls">
                <a class="crit-control-widget item-create" title='{{localize "YZECORIOLIS.CreateCriticalInjury"}}'
                    {{#each injuryDataSet as |v k|}}data-{{k}}="{{v}}" {{/each}}>
                    <i class="fas fa-plus"></i> {{localize "YZECORIOLIS.Add"}}
                </a>
            </div>
            {{/if}}
        </li>
        {{#each injuries as |injury id|}}
        <li class="injury fr-basic item" data-item-id="{{injury.id}}">
            <div class="injury-display flex1">
                <span>{{injury.name}}</span>
            </div>
            <div class="injury-description">
                {{!-- we're putting in the raw output here since description is already html markup from tinyMCE--}}
                <span>{{{injury.data.description}}}</span>
            </div>
            <div class="crit-controls">
                <a class="crit-control-widget item-edit" title={{localize "YZECORIOLIS.EditCriticalInjury"}}>
                    <i class="fas fa-edit"></i></a>
                <a class="crit-control-widget item-delete" title={{localize "YZECORIOLIS.DeleteCriticalInjury"}}><i
                        class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ul>
</div>