<div class="tab flexrow" data-group="primary" data-tab="stats">

    {{!-- Attributes List --}}
    <ul class="attributes-list flexrow">
        {{#each actor.data.attributes as |ability key|}}
        <li class="attribute-item">
            <label for="data.attributes.{{key}}.value" class="resource-label rollable" data-rolltype="attribute"
                data-attributekey={{key}} data-roll="(@attributes.{{key}}.value)d6"
                data-label="{{getAttributeName key}}">{{getAttributeName key}}</label>
            <input type="text" name="data.attributes.{{key}}.value" value="{{ability.value}}" data-dtype="Number" />
        </li>
        {{/each}}
    </ul>


    <ol class="stat-list">
        {{!-- Create a header for each skill type --}}
        <li class="skill-header flexrow">
            <h3 class="skill-name flexrow">{{getSkillCategoryName 'general'}}</h3>
        </li>
        {{#each actor.data.skills as |skill id|}}
        {{#if_eq skill.category 'general'}}
        <li class="skill flexrow" data-item-id="{{skill._id}}">
            <div class="skill-name flexrow rollable" data-rolltype="skill" data-attributekey={{skill.attribute}}
                data-skillkey={{id}} data-roll="(@attributes.{{skill.attribute}}.value + @skills.{{id}}.value)d6"
                data-label="{{getSkillName id}}">
                <div class="skill-image" style="background-image: url({{skill.img}})"></div>
                <h4>{{getSkillName id}} ({{getAttributeName skill.attribute}})</h4>
            </div>
            <input class="skill-input" type="text" name="data.skills.{{id}}.value" value="{{skill.value}}"
                data-dtype="Number" />
        </li>
        {{/if_eq }}
        {{/each}}
    </ol>

    <ol class="stat-list">
        {{!-- Create a header for each skill type --}}
        <li class="skill-header flexrow">
            <h3 class="skill-name flexrow">{{getSkillCategoryName 'advanced'}}</h3>
        </li>
        {{#each actor.data.skills as |skill id|}}
        {{#if_eq skill.category 'advanced'}}
        <li class="skill flexrow" data-item-id="{{skill._id}}">
            <div class="skill-name flexrow rollable"
                data-roll="(@attributes.{{skill.attribute}}.value + @skills.{{id}}.value)d6"
                data-label="{{getSkillName id}}">
                <div class="skill-image" style="background-image: url({{skill.img}})"></div>
                <h4>{{getSkillName id}} ({{getAttributeName skill.attribute}})</h4>
            </div>
            <input class="skill-input" type="text" name="data.skills.{{id}}.value" value="{{skill.value}}"
                data-dtype="Number" />
        </li>
        {{/if_eq }}
        {{/each}}
    </ol>

    <ol class="critical-injury-list">
        <li class="injury-header flexrow">
            <h3 class="injury-header-name flexrow">{{localize "YZECORIOLIS.CriticalInjuries"}}</h3>

            {{#if owner}}
            <div class="injury-controls">
                <a class="injury-control injury-create" title='{{localize "YZECORIOLIS.CreateCriticalInjury"}}'
                    {{#each gearData.dataset as |v k|}}data-{{k}}="{{v}}" {{/each}}>
                    <i class="fas fa-plus"></i> {{localize "YZECORIOLIS.Add"}}
                </a>
            </div>
            {{/if}}

        </li>
        {{#each actor.data.criticalInjuries as |injury ciKey|}}
        <li class="injury flexrow" data-item-id="{{ciKey}}">
            <div class="injury-name">
                <input type="text" name="data.criticalInjuries.{{ciKey}}" value="{{injury}}"
                    placeholder="{{localize "YZECORIOLIS.CriticalInjury"}}" />
            </div>
            <div class="injury-controls">
                <a class="injury-control injury-delete" title={{localize "YZECORIOLIS.DeleteCriticalInjury"}}><i
                        class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>

</div>