<div class="tab biography" data-group="primary" data-tab="bio">
    <ol class="biography-list">
        <li class="biography-list-header">
            <h3>{{localize "YZECORIOLIS.Background"}}</h3>
        </li>

        <li>
            <div class="flexrow  flex-between">
                <label for="data.bio.origin" class="resource-label">{{localize "YZECORIOLIS.Origin"}}</label>
                <div class="resource-content">
                    <input type="text" name="data.bio.origin" value="{{data.bio.origin}}" data-dtype="String" />
                </div>
            </div>
        </li>
        <li>
            <div class="flexrow  flex-between">
                <label for="data.bio.upbringing" class="resource-label">{{localize "YZECORIOLIS.Upbringing"}}</label>
                <div class="resource-content">
                    <input type="text" name="data.bio.upbringing" value="{{data.bio.upbringing}}" data-dtype="String" />
                </div>
            </div>
        </li>

        <li>
            <div class="flexrow  flex-between">
                <label for="data.bio.humanite" class="resource-label">{{localize "YZECORIOLIS.Humanite"}}</label>
                <div class="resource-content">
                    <input type="checkbox" name="data.bio.humanite" data-dtype="Boolean"
                        {{checked data.bio.humanite}} />
                </div>
            </div>
        </li>
        <li>
            <div class="flexrow  flex-between">
                <label for="data.bio.concept" class="resource-label">{{localize "YZECORIOLIS.Concept"}}</label>
                <div class="resource-content">
                    <input type="text" name="data.bio.concept" value="{{data.bio.concept}}" data-dtype="String" />
                </div>
            </div>
        </li>

        <li>
            <div class="flexrow  flex-between">
                <label for="data.bio.groupConcept"
                    class="resource-label">{{localize "YZECORIOLIS.GroupConcept"}}</label>
                <div class="resource-content">
                    <input type="text" name="data.bio.groupConcept" value="{{data.bio.groupConcept}}"
                        data-dtype="String" />
                </div>
            </div>
        </li>

        <li>
            <div class="flexrow  flex-between">
                <label for="data.bio.personalProblem"
                    class="resource-label">{{localize "YZECORIOLIS.PersonalProblem"}}</label>
                <div class="resource-content">
                    <input type="text" name="data.bio.personalProblem" value="{{data.bio.personalProblem}}"
                        data-dtype="String" />
                </div>
            </div>
        </li>

        <li class="biography-list-header">
            <h3>{{localize "YZECORIOLIS.Appearance"}}</h3>
        </li>

        <li>
            <div class="flexrow  flex-between">
                <label for="data.bio.appearance.face" class="resource-label">{{localize "YZECORIOLIS.Face"}}</label>
                <div class="resource-content">
                    <input type="text" name="data.bio.appearance.face" value="{{data.bio.appearance.face}}"
                        data-dtype="String" />
                </div>
            </div>
        </li>

        <li>
            <div class="flexrow  flex-between">
                <label for="data.bio.appearance.clothing"
                    class="resource-label">{{localize "YZECORIOLIS.Clothing"}}</label>
                <div class="resource-content">
                    <input type="text" name="data.bio.appearance.clothing" value="{{data.bio.appearance.clothing}}"
                        data-dtype="String" />
                </div>
            </div>
        </li>

        <li class="biography-list-header flexrow">
            <h3>{{localize "YZECORIOLIS.Relationships"}}</h3>
            <div class="biography-controls flexrow">
                <a class="biography-control relationship-create" title='{{localize "YZECORIOLIS.AddRelationship"}}'>
                    <i class="fas fa-plus"></i> {{localize "YZECORIOLIS.Add"}}
                </a>
            </div>
        </li>

        {{#each actor.data.relationships as |relation relKey|}}
        <li class="relation flexrow" data-item-id="{{relKey}}">
            <div class="relation-name flexrow">
                <input type="text" name="data.relationships.{{relKey}}.name" value="{{relation.name}}"
                    placeholder="{{localize "YZECORIOLIS.Name"}}" />
                <label for="data.relationships.{{relKey}}.buddy"
                    class="resource-label">{{localize "YZECORIOLIS.Buddy"}}</label>
                <input type="checkbox" name="data.relationships.{{relKey}}.buddy" data-dtype="Boolean"
                    {{checked relation.buddy}} />
            </div>
            <div class="biography-controls flexrow">
                <a class="biography-control relationship-delete" title={{localize "YZECORIOLIS.RemoveRelationship"}}><i
                        class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}

        <li class="biography-list-header flexrow">
            <h3>{{localize "YZECORIOLIS.PeopleMet"}}</h3>
            <div class="biography-controls flexrow">
                <a class="biography-control meeting-create" title='{{localize "YZECORIOLIS.AddRelationship"}}'>
                    <i class="fas fa-plus"></i> {{localize "YZECORIOLIS.Add"}}
                </a>
            </div>
        </li>

        {{#each actor.data.meetings as |meeting meetKey|}}
        <li class="meeting flexrow" data-item-id="{{meetKey}}">
            <div class="meeting-name flexrow">
                <input type="text" name="data.meetings.{{meetKey}}.name" value="{{meeting.name}}"
                    placeholder="{{localize "YZECORIOLIS.Name"}}" />
                <input type="text" name="data.meetings.{{meetKey}}.concept" value="{{meeting.concept}}"
                    placeholder="{{localize "YZECORIOLIS.Concept"}}" />
                <input type="text" name="data.meetings.{{meetKey}}.notes" value="{{meeting.notes}}"
                    placeholder="{{localize "YZECORIOLIS.CharNotes"}}" />
            </div>
            <div class="biography-controls flexrow">
                <a class="biography-control meeting-delete" title={{localize "YZECORIOLIS.RemoveMeeting"}}><i
                        class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}

        <li class="biography-list-header">
            <h3>{{localize "YZECORIOLIS.Cabin"}}</h3>
        </li>
        <li class="cabin flexrow">
            <input type="text" name="data.cabin.description" value="{{data.cabin.description}}"
                placeholder="{{localize "YZECORIOLIS.Cabin"}}" />
        </li>
    </ol>
</div>