<div class="tab panel" data-group="primary" data-tab="gear">
    <div class="gear-wrapper">
        <ol class="gear-list">
            {{!-- setup header for Gear--}}
            <li class="gear-category-header flexrow">
                <div class="gear-category-name first">{{localize "YZECORIOLIS.Gear"}}</div>
                <div class="gear-category-name center">{{localize "YZECORIOLIS.Weight"}}</div>
                <div class="gear-category-name center">{{localize "YZECORIOLIS.TechTier"}}</div>
                <div class="gear-category-name center">{{localize "YZECORIOLIS.Quantity"}}</div>
                <div class="gear-category-name center">{{localize "YZECORIOLIS.Restricted"}}</div>
                {{#if owner}}
                <div class="gear-controls">
                    <a class="gear-control-add-widget item-create" title='{{localize "YZECORIOLIS.CreateGear"}}'
                        {{#each gearDataSet as |v k|}}data-{{k}}="{{v}}" {{/each}}>
                        <i class="fas fa-plus"></i> {{localize "YZECORIOLIS.Add"}}
                    </a>
                </div>
                {{/if}}
            </li>
            {{#each gear as |gear index|}}
            <li class="gear item flexrow" data-item-id="{{gear._id}}">
                <div class="gear-bg {{gear.system.toggleClass}} flickering flexrow">
                    <div class="gear-name flexrow">
                        <div class="gear-img-container" style="background-image: url({{gear.img}})">
                        </div>
                        <span class="expandable-info">{{gear.name}}</span>
                    </div>
                    <div class="gear-row-data">
                        {{getGearWeightName gear.system.weight}}
                    </div>

                    <div class="gear-row-data">
                        {{getTechTierName gear.system.techTier}}
                    </div>

                    <div class="gear-row-data">
                        <input class="gear-quantity-input" type="number" step="1" min="0" name="gear.system.quantity"
                            value="{{gear.system.quantity}}" data-dtype="Number" />
                    </div>
                    <div class="gear-row-data">
                        {{#if_eq gear.system.restricted true}}
                        <i class="fas fa-key gear-restricted"></i>
                        {{/if_eq}}
                    </div>
                    <div class="gear-controls">
                        <a class="gear-control-widget item-toggle {{gear.system.toggleClass}}"
                            title='{{localize "YZECORIOLIS.EquipGear"}}'><i class="fas fa-shield-alt"></i></a>
                        <a class="gear-control-widget item-edit" title="{{localize "YZECORIOLIS.EditGear"}}"><i class="fas fa-edit"></i></a>
                        <a class="gear-control-widget item-post" title="{{localize "YZECORIOLIS.PostGear"}}"><i
                            class="fas fa-comment"></i></a>
                        <a class="gear-control-widget item-delete" title="{{localize "YZECORIOLIS.DeleteGear"}}"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
            </li>
            {{/each}}

            {{!-- setup header for Weapons--}}
            <li class="gear-category-header flexrow">
                <div class="gear-category-name first">{{localize "YZECORIOLIS.Weapons"}}</div>
                <div class="gear-category-name center">{{localize "YZECORIOLIS.Bonus"}}</div>
                <div class="gear-category-name center">{{localize "YZECORIOLIS.Initiative"}}</div>
                <div class="gear-category-name center">{{localize "YZECORIOLIS.Damage"}}</div>
                <div class="gear-category-name center">{{localize "YZECORIOLIS.Crit"}}</div>
                <div class="gear-category-name center">{{localize "YZECORIOLIS.Range"}}</div>
                <div class="gear-category-name center">{{localize "YZECORIOLIS.Automatic"}}</div>
                {{#if owner}}
                <div class="gear-controls">
                    <a class="gear-control-add-widget item-create" title='{{localize "YZECORIOLIS.CreateWeapon"}}'
                        {{#each weaponDataSet as |v k|}}data-{{k}}="{{v}}" {{/each}}>
                        <i class="fas fa-plus"></i> {{localize "YZECORIOLIS.Add"}}
                    </a>
                </div>
                {{/if}}
            </li>


            {{#each weapons as |weapon index|}}
            <li class="gear item flexrow" data-item-id="{{weapon._id}}">
                <div class="gear-bg {{weapon.system.toggleClass}} flickering flexrow">
                    <div class="gear-name flexrow">
                        <div class="gear-img-container rollable" style="background-image: url({{weapon.img}})"
                            data-rolltype="weapon"
                            data-label="{{weapon.name}}"
                            data-skillkey="{{getSkillKeyForWeaponType weapon.system.melee}}"
                            data-attributekey="{{getAttributeKeyForWeaponType weapon.system.melee}}"
                            data-bonus="{{weapon.system.bonus}}"
                            data-automaticWeapon="{{weapon.system.automatic}}">
                        </div>
                        <span class="expandable-info">{{weapon.name}}</span>
                    </div>
                    <div class="gear-row-data">
                        {{weapon.system.bonus}}
                    </div>

                    <div class="gear-row-data">
                        {{weapon.system.initiative}}
                    </div>

                    <div class="gear-row-data">
                        {{weapon.system.damage}}
                    </div>
                    <div class="gear-row-data">
                        {{getWeaponCritDisplay weapon.system.crit}}
                    </div>
                    <div class="gear-row-data">
                        {{getRangeName weapon.system.range}}
                    </div>

                    <div class="gear-row-data">
                        {{#if_eq weapon.system.automatic true}}
                        <i class="fas fa-check"></i>
                        {{/if_eq}}
                    </div>

                    <div class="gear-controls">
                        <a class="gear-control-widget item-toggle {{weapon.system.toggleClass}}"
                            title='{{localize "YZECORIOLIS.EquipWeapon"}}'><i class="fas fa-shield-alt"></i></a>
                        <a class="gear-control-widget item-edit" title="{{localize "YZECORIOLIS.EditWeapon"}}"><i
                                class="fas fa-edit"></i></a>
                        <a class="gear-control-widget item-post" title="{{localize "YZECORIOLIS.PostWeapon"}}"><i
                            class="fas fa-comment"></i></a>
                        <a class="gear-control-widget item-delete" title="{{localize "YZECORIOLIS.DeleteWeapon"}}"><i
                                class="fas fa-trash"></i></a>
                    </div>
                </div>

                {{!-- Weapons Features --}}
                {{#if (ShowFeatures)}}
                  {{#if (isNotEmpty weapon.system.special)}}
                    <div class="gear-bg flickering flexrow" style="border-top-left-radius: 0; border-top-right-radius: 0;">
                      <div class="item-properties">
                          {{#each weapon.system.special as |feature id|}}
                          <span class="tag">{{feature}}</span>
                          {{/each}}
                      </div>
                    </div>
                  {{/if}}
                {{/if}}
            </li>
            {{/each}}

            {{!-- setup header for Explosives--}}
            <li class="gear-category-header flexrow">
                <div class="gear-category-name first">{{localize "YZECORIOLIS.Explosives"}}</div>
                <div class="gear-category-name center">{{localize "YZECORIOLIS.Bonus"}}</div>
                <div class="gear-category-name center">{{localize "YZECORIOLIS.Initiative"}}</div>
                <div class="gear-category-name center">{{localize "YZECORIOLIS.Damage"}}</div>
                <div class="gear-category-name center">{{localize "YZECORIOLIS.Crit"}}</div>
                <div class="gear-category-name center">{{localize "YZECORIOLIS.BlastPower"}}</div>
                <div class="gear-category-name center">{{localize "YZECORIOLIS.BlastRadius"}}</div>
                {{#if owner}}
                <div class="gear-controls">
                    <a class="gear-control-add-widget item-create" title='{{localize "YZECORIOLIS.CreateExplosive"}}'
                        {{#each explosiveDataSet as |v k|}}data-{{k}}="{{v}}" {{/each}}>
                        <i class="fas fa-plus"></i> {{localize "YZECORIOLIS.Add"}}
                    </a>
                </div>
                {{/if}}
            </li>
            {{#each explosives as |explosive index|}}
            <li class="gear item flexrow" data-item-id="{{explosive._id}}">
                <div class="gear-bg {{explosive.system.toggleClass}} flickering flexrow">
                    <div class="gear-name flexrow">
                        <div class="gear-img-container rollable" style="background-image: url({{explosive.img}})"
                            data-rolltype="weapon" data-label="{{explosive.name}}" data-skillkey="rangedcombat"
                            data-attributekey="agility" data-bonus="{{explosive.system.bonus}}">
                        </div>
                        <span class="expandable-info">{{explosive.name}}</span>
                    </div>
                    <div class="gear-row-data">
                        {{explosive.system.bonus}}
                    </div>

                    <div class="gear-row-data">
                        {{explosive.system.initiative}}
                    </div>
                    <div class="gear-row-data">
                        {{explosive.system.damage}}
                    </div>

                    <div class="gear-row-data">
                        {{getWeaponCritDisplay explosive.system.crit}}
                    </div>
                    <div class="gear-row-data">
                        {{explosive.system.blastPower}}
                    </div>
                    <div class="gear-row-data">
                        {{getRangeName explosive.system.blastRadius}}
                    </div>

                    <div class="gear-controls">
                        <a class="gear-control-widget item-toggle {{explosive.system.toggleClass}}"
                            title='{{localize "YZECORIOLIS.EquipGear"}}'><i class="fas fa-shield-alt"></i></a>
                        <a class="gear-control-widget item-edit" title="{{localize "YZECORIOLIS.EditExplosive"}}"><i
                                class="fas fa-edit"></i></a>
                        <a class="gear-control-widget item-post" title="{{localize "YZECORIOLIS.PostExplosive"}}"><i
                            class="fas fa-comment"></i></a>
                        <a class="gear-control-widget item-delete" title="{{localize "YZECORIOLIS.DeleteExplosive"}}"><i
                                class="fas fa-trash"></i></a>
                    </div>
                </div>

                {{!-- Explosive Features --}}
                {{#if (ShowFeatures)}}
                  {{#if (isNotEmpty explosive.system.special)}}
                    <div class="gear-bg flickering flexrow" style="border-top-left-radius: 0; border-top-right-radius: 0;">
                      <div class="item-properties">
                          {{#each explosive.system.special as |feature id|}}
                          <span class="tag">{{feature}}</span>
                          {{/each}}
                      </div>
                    </div>
                  {{/if}}
                {{/if}}
            </li>
            {{/each}}


            {{!-- setup header for Armor--}}
            <li class="gear-category-header flexrow">
                <div class="gear-category-name first">{{localize "YZECORIOLIS.Armor"}}</div>
                <div class="gear-category-name center">{{localize "YZECORIOLIS.ArmorRating"}}</div>
                <div class="gear-category-name center">{{localize "YZECORIOLIS.ExtraFeatures"}}</div>
                {{#if owner}}
                <div class="gear-controls">
                    <a class="gear-control-add-widget item-create" title='{{localize "YZECORIOLIS.CreateArmor"}}'
                        {{#each armorDataSet as |v k|}}data-{{k}}="{{v}}" {{/each}}>
                        <i class="fas fa-plus"></i> {{localize "YZECORIOLIS.Add"}}
                    </a>
                </div>
                {{/if}}
            </li>
            {{#each armor as |armor index|}}
            <li class="gear item flexrow" data-item-id="{{armor._id}}">
                <div class="gear-bg {{armor.system.toggleClass}} flickering flexrow">
                    <div class="gear-name flexrow">
                        <div class="gear-img-container rollable" style="background-image: url({{armor.img}})"
                            data-rolltype="armor" data-label="{{armor.name}}" data-bonus="{{armor.system.armorRating}}">
                        </div>
                        <span class="expandable-info">{{armor.name}}</span>
                    </div>
                    <div class="gear-row-data">
                        {{armor.system.armorRating}}
                    </div>
                    <div class="gear-row-data">
                        {{armor.system.extraFeatures}}
                    </div>

                    <div class="gear-controls">
                        <a class="gear-control-widget item-toggle {{armor.system.toggleClass}}"
                            title='{{localize "YZECORIOLIS.EquipArmor"}}'><i class="fas fa-shield-alt"></i></a>
                        <a class="gear-control-widget item-edit" title="{{localize "YZECORIOLIS.EditArmor"}}"><i
                            class="fas fa-edit"></i></a>
                        <a class="gear-control-widget item-post" title="{{localize "YZECORIOLIS.PostArmor"}}"><i
                            class="fas fa-comment"></i></a>
                        <a class="gear-control-widget item-delete" title="{{localize "YZECORIOLIS.DeleteArmor"}}"><i
                            class="fas fa-trash"></i></a>
                    </div>
                </div>

                {{!-- Armor Features --}}
                {{#if (ShowFeatures)}}
                  {{#if (isNotEmpty armor.system.special)}}
                    <div class="gear-bg flickering flexrow" style="border-top-left-radius: 0; border-top-right-radius: 0;">
                      <div class="item-properties">
                          {{#each armor.system.special as |feature id|}}
                          <span class="tag">{{feature}}</span>
                          {{/each}}
                      </div>
                    </div>
                  {{/if}}
                {{/if}}
            </li>
            {{/each}}
        </ol>
        {{#with encumbrance}}
        <div class="encumbrance-bar {{#if encumbered}}encumbered{{/if}}">
            <div class="encumbrance-fill  {{#if encumbered}}encumbered{{/if}}" style="width:{{percentage}}%"></div>
            <div class="encumbrance-data">
                <span class="encumbrance-label">{{localize "YZECORIOLIS.Encumbrance"}}: {{value}} / {{max}}</span>
            </div>
        </div>
        {{/with}}
    </div>
</div>
