<div class="tab biography" data-group="primary" data-tab="bio">
    <div class="bio-stats">
        <div class="bio-category-header">
            <span class="bio-category-name">{{localize "YZECORIOLIS.Background"}}</span>
        </div>
        <div class="bio-block-list flexrow">
            <div class="bio-block">
                <span class="bio-block-title">Origin</span>
                <span class="bio-block-data">Dabaran</span>
            </div>
            <div class="bio-block">
                <span class="bio-block-title">Origin</span>
                <span class="bio-block-data">Dabaran</span>
            </div>
            <div class="bio-block">
                <span class="bio-block-title">Origin</span>
                <span class="bio-block-data">Dabaran</span>
            </div>
            <div class="bio-block">
                <span class="bio-block-title">Origin</span>
                <span class="bio-block-data">Dabaran</span>
            </div>
            <div class="bio-block">
                <span class="bio-block-title">Origin</span>
                <span class="bio-block-data">Dabaran</span>
            </div>
            <div class="bio-block">
                <span class="bio-block-title">Origin</span>
                <span class="bio-block-data">Dabaran</span>
            </div>
            <div class="bio-block">
                <span class="bio-block-title">Origin</span>
                <span class="bio-block-data">Dabaran</span>
            </div>
            <div class="bio-block">
                <span class="bio-block-title">Origin</span>
                <span class="bio-block-data">Dabaran</span>
            </div>
        </div>
    </div>
</div>