<div class="tab flexcol" data-group="primary" data-tab="gear">
    {{#with actor.encumbrance}}
    <div class="encumbrance {{#if encumbered}}encumbered{{/if}}">
        <span class="encumbrance-bar  {{#if encumbered}}encumbered{{/if}}" style="width:{{percentage}}%"></span>
        <span class="encumbrance-label">{{value}} / {{max}}</span>
        <i class="encumbrance-breakpoint encumbrance-33 arrow-up"></i>
        <i class="encumbrance-breakpoint encumbrance-33 arrow-down"></i>
        <i class="encumbrance-breakpoint encumbrance-66 arrow-up"></i>
        <i class="encumbrance-breakpoint encumbrance-66 arrow-down"></i>
    </div>
    {{/with}}
    <div class="inventory-section-header">
        <li>{{localize "YZECORIOLIS.Gear"}}</li>
    </div>

    <ol class="inventory-list">
        {{#each actor.gear as |gearData weightKey|}}
        {{!-- setup header for a gear weight class--}}
        <li class="inventory-header flexrow">
            <h3 class="gear-name flexrow">{{getGearWeightName weightKey}}</h3>
            <div class="gear-name">{{localize "YZECORIOLIS.TechTier"}}</div>
            <div class="gear-name">{{localize "YZECORIOLIS.Quantity"}}</div>
            <div class="gear-name">{{localize "YZECORIOLIS.Restricted"}}</div>
            {{#if ../owner}}
            <div class="item-controls">
                <a class="item-control item-create" title='{{localize "YZECORIOLIS.CreateGear"}}'
                    {{#each gearData.dataset as |v k|}}data-{{k}}="{{v}}" {{/each}}>
                    <i class="fas fa-plus"></i> {{localize "YZECORIOLIS.Add"}}
                </a>
            </div>
            {{/if}}

        </li>
        {{!-- show gear for each weight --}}
        {{#each gearData.items as |gear id|}}
        <li class="item flexrow" data-item-id="{{gear._id}}">
            <div class="item-name flexrow">
                <div class="item-image" style="background-image: url({{gear.img}})"></div>
                <h4>{{gear.name}}</h4>
            </div>

            <div class="gear-name">
                {{getTechTierName gear.data.techTier}}
            </div>

            <div class="gear-quantity flex-center">
                <input class="gear-quantity-input" type="number" step="1" min="0" name="gear.data.quantity"
                    value="{{gear.data.quantity}}" data-dtype="Number" />
            </div>
            <div class="gear-name">
                {{#if_eq gear.data.restricted true}}
                <i class="fas fa-key"></i>
                {{/if_eq}}
            </div>
            <div class="item-controls">
                <a class="item-control item-toggle {{gear.data.toggleClass}}"
                    title='{{localize "YZECORIOLIS.EquipGear"}}'><i class="fas fa-shield-alt"></i></a>
                <a class="item-control item-edit" title="Edit Gear"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Gear"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
        {{/each}}
    </ol>

    <div class="inventory-section-header">
        <li>{{localize "YZECORIOLIS.Weapons"}}</li>
    </div>

    <ol class="inventory-list">
        {{!-- setup header for a weapon weight class--}}
        <li class="inventory-header flexrow">
            <h3 class="gear-name flexrow">{{localize "YZECORIOLIS.Weapon"}}</h3>
            <div class="gear-name">{{localize "YZECORIOLIS.Bonus"}}</div>
            <div class="gear-name">{{localize "YZECORIOLIS.Initiative"}}</div>
            <div class="gear-name">{{localize "YZECORIOLIS.Damage"}}</div>
            <div class="gear-name">{{localize "YZECORIOLIS.Crit"}}</div>
            <div class="gear-name">{{localize "YZECORIOLIS.EffectiveRange"}}</div>
            <div class="gear-name">{{localize "YZECORIOLIS.Automatic"}}</div>
            {{#if owner}}
            <div class="item-controls">
                <a class="item-control item-create" title='{{localize "YZECORIOLIS.CreateWeapon"}}'
                    {{#each actor.weaponDataSet as |v k|}}data-{{k}}="{{v}}" {{/each}}>
                    <i class="fas fa-plus"></i> {{localize "YZECORIOLIS.Add"}}
                </a>
            </div>
            {{/if}}

        </li>
        {{#each actor.weapons as |weapon index|}}
        <li class="item flexrow" data-item-id="{{weapon._id}}">
            <div class="item-name flexrow">
                <div class="item-image" style="background-image: url({{weapon.img}})"></div>
                <h4>{{weapon.name}}</h4>
            </div>
            <div class="gear-name">
                {{weapon.data.bonus}}
            </div>
            <div class="gear-name">
                {{weapon.data.initiative}}
            </div>
            <div class="gear-name">
                {{weapon.data.damage}}
            </div>
            <div class="gear-name">
                {{getWeaponCritDisplay weapon.data.crit}}
            </div>
            <div class="gear-name">
                {{getRangeName weapon.data.range}}
            </div>
            <div class="gear-name">
                {{#if_eq weapon.data.automatic true}}
                <i class="fas fa-check"></i>
                {{/if_eq}}
            </div>
            <div class="item-controls">
                <a class="item-control item-toggle {{weapon.data.toggleClass}}"
                    title='{{localize "YZECORIOLIS.EquipWeapon"}}'><i class="fas fa-shield-alt"></i></a>
                <a class="item-control item-edit" title="{{localize "YZECORIOLIS.EditWeapon"}}"><i
                        class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize "YZECORIOLIS.DeleteWeapon"}}"><i
                        class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>

    <div class="inventory-section-header">
        <li>{{localize "YZECORIOLIS.Explosives"}}</li>
    </div>
    <ol class="inventory-list">
        {{!-- setup header for a weapon weight class--}}
        <li class="inventory-header flexrow">
            <h3 class="gear-name flexrow">{{localize "YZECORIOLIS.Explosive"}}</h3>
            <div class="gear-name">{{localize "YZECORIOLIS.Bonus"}}</div>
            <div class="gear-name">{{localize "YZECORIOLIS.Initiative"}}</div>
            <div class="gear-name">{{localize "YZECORIOLIS.BlastPower"}}</div>
            <div class="gear-name">{{localize "YZECORIOLIS.Damage"}}</div>
            <div class="gear-name">{{localize "YZECORIOLIS.Crit"}}</div>
            <div class="gear-name">{{localize "YZECORIOLIS.BlastRadius"}}</div>
            {{#if owner}}
            <div class="item-controls">
                <a class="item-control item-create" title='{{localize "YZECORIOLIS.CreateExplosive"}}'
                    {{#each actor.explosiveDataSet as |v k|}}data-{{k}}="{{v}}" {{/each}}>
                    <i class="fas fa-plus"></i> {{localize "YZECORIOLIS.Add"}}
                </a>
            </div>
            {{/if}}
        </li>
        {{#each actor.explosives as |explosive index|}}
        <li class="item flexrow" data-item-id="{{explosive._id}}">
            <div class="item-name flexrow">
                <div class="item-image" style="background-image: url({{explosive.img}})"></div>
                <h4>{{explosive.name}}</h4>
            </div>
            <div class="gear-name">
                {{explosive.data.bonus}}
            </div>
            <div class="gear-name">
                {{explosive.data.initiative}}
            </div>
            <div class="gear-name">
                {{explosive.data.blastPower}}
            </div>
            <div class="gear-name">
                {{explosive.data.damage}}
            </div>
            <div class="gear-name">
                {{getWeaponCritDisplay explosive.data.crit}}
            </div>
            <div class="gear-name">
                {{getRangeName explosive.data.blastRadius}}
            </div>
            <div class="item-controls">
                <a class="item-control item-edit" title="{{localize "YZECORIOLIS.EditExplosive"}}"><i
                        class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize "YZECORIOLIS.DeleteExplosive"}}"><i
                        class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>

    <div class="inventory-section-header">
        <li>{{localize "YZECORIOLIS.Armor"}}</li>
    </div>

    <ol class="inventory-list">
        {{!-- setup header for a weapon weight class--}}
        <li class="inventory-header flexrow">
            <h3 class="gear-name flexrow">{{localize "YZECORIOLIS.Armor"}}</h3>
            <div class="gear-name">{{localize "YZECORIOLIS.ArmorRating"}}</div>
            <div class="gear-name">{{localize "YZECORIOLIS.ExtraFeatures"}}</div>
            {{#if owner}}
            <div class="item-controls">
                <a class="item-control item-create" title='{{localize "YZECORIOLIS.CreateArmor"}}'
                    {{#each actor.armorDataSet as |v k|}}data-{{k}}="{{v}}" {{/each}}>
                    <i class="fas fa-plus"></i> {{localize "YZECORIOLIS.Add"}}
                </a>
            </div>
            {{/if}}
        </li>
        {{#each actor.armor as |armor index|}}
        <li class="item flexrow" data-item-id="{{armor._id}}">
            <div class="item-name flexrow">
                <div class="item-image" style="background-image: url({{armor.img}})"></div>
                <h4>{{armor.name}}</h4>
            </div>
            <div class="gear-name">
                {{armor.data.armorRating}}
            </div>
            <div class="gear-name">
                {{armor.data.extraFeatures}}
            </div>
            <div class="item-controls">
                <a class="item-control item-toggle {{armor.data.toggleClass}}"
                    title='{{localize "YZECORIOLIS.EquipArmor"}}'><i class="fas fa-shield-alt"></i></a>
                <a class="item-control item-edit" title="{{localize "YZECORIOLIS.EditArmor"}}"><i
                        class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize "YZECORIOLIS.DeleteArmor"}}"><i
                        class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>

</div>