<div class="tab biography" data-group="primary" data-tab="bio">
    <div class="bio-stats">
        <div class="bio-category-header">
            <span class="bio-category-name">{{localize "YZECORIOLIS.Background"}}</span>
        </div>
        <div class="bio-block-list flexrow">
            <div class="bio-block">
                <span class="bio-block-title">{{localize "YZECORIOLIS.Origin"}}</span>
                <input class="bio-input" name="data.bio.origin" type="text" value="{{data.bio.origin}}"
                    placeholder="{{localize "YZECORIOLIS.Origin"}}" />
            </div>
            <div class="bio-block">
                <span class="bio-block-title">{{localize "YZECORIOLIS.Upbringing"}}</span>
                <input class="bio-input" name="data.bio.upbringing" type="text" value="{{data.bio.upbringing}}"
                    placeholder="{{localize "YZECORIOLIS.Upbringing"}}" />
            </div>
            <div class="bio-block">
                <span class="bio-block-title">{{localize "YZECORIOLIS.Humanite"}}</span>
                <input class="bio-checkbox" type="checkbox" name="data.bio.humanite" data-dtype="Boolean"
                    {{checked data.bio.humanite}} />
            </div>
            <div class="bio-block">
                <span class="bio-block-title">{{localize "YZECORIOLIS.GroupConcept"}}</span>
                <input class="bio-input" name="data.bio.groupConcept" type="text" value="{{data.bio.groupConcept}}"
                    placeholder="{{localize "YZECORIOLIS.GroupConcept"}}" />
            </div>
            <div class="bio-block">
                <span class="bio-block-title">{{localize "YZECORIOLIS.PersonalProblem"}}</span>
                <input class="bio-input" name="data.bio.personalProblem" type="text"
                    value="{{data.bio.personalProblem}}" placeholder="{{localize "YZECORIOLIS.PersonalProblem"}}" />
            </div>
            <div class="bio-block">
                <span class="bio-block-title">{{localize "YZECORIOLIS.CrewPosition"}}</span>
                <span class="bio-block-data">Pilot</span>
            </div>
            <div class="bio-block">
                <span class="bio-block-title">{{localize "YZECORIOLIS.Appearance"}}:
                    {{localize "YZECORIOLIS.Face"}}</span>
                <input class="bio-input" name="data.bio.appearance.face" type="text"
                    value="{{data.bio.appearance.face}}" placeholder="{{localize "YZECORIOLIS.Appearance"}}" />
            </div>
            <div class="bio-block">
                <span class="bio-block-title">{{localize "YZECORIOLIS.Appearance"}}:
                    {{localize "YZECORIOLIS.Clothing"}}</span>
                <input class="bio-input" name="data.bio.appearance.clothing" type="text"
                    value="{{data.bio.appearance.clothing}}" placeholder="{{localize "YZECORIOLIS.Clothing"}}" />
            </div>
        </div>
    </div>
</div>