<div class="tab panel" data-group="primary" data-tab="critDamage">
    <ol class="feature-list">
        {{!-- setup header for Critical Damage--}}
        <li class="feature-category-header flexrow">
            <span class="feature-category-name flexrow">{{localize "YZECORIOLIS.ShipCriticalDamage"}}</span>
            {{#if owner}}
            <div class="feature-controls">
                <a class="feature-control-add-widget shipItem-create" title='{{localize "YZECORIOLIS.ShipCreateCriticalDamage"}}'
                    {{#each actor.criticalDamages.dataset as |v k|}}data-{{k}}="{{v}}" {{/each}}>
                    <i class="fas fa-plus"></i> {{localize "YZECORIOLIS.Add"}}
                </a>
            </div>
            {{/if}}
        </li>


        {{!-- show each crit damage --}}
        {{#each actor.criticalDamages.items as |critDamage|}}
        <li class="feature item flexrow" data-item-id="{{critDamage._id}}">
            <div class="feature-bg flickering flexrow">
                <div class="feature-name expandable-info flexrow">
                    <span class="flexrow">{{critDamage.name}}</span>
                </div>
                <div class="feature-controls">
                    <a class="edit-widget faded shipItem-edit" title="{{localize "YZECORIOLIS.ShipEditCriticalDamage"}}" data-feature={{critDamage._id}}><i
                            class="fas fa-edit"></i></a>
                    <a class="edit-widget faded shipItem-delete"
                        title="{{localize "YZECORIOLIS.ShipDeleteCriticalDamage"}}" data-feature={{critDamage._id}}><i class="fas fa-trash"></i></a>
                </div>
            </div>
        </li>
        {{/each}}
    </ol>
</div>