<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-container">
    <div class="key-art-container">
      <img class="vertical-img" src="{{data.keyArt}}" data-edit="data.keyArt" title="{{actor.name}}">
    </div>
    <div class="gradient-overlay"></div>
    <div class="always-visible-stats"></div>
    <div class="char-content-wrapper">
      <header class="sheet-header">

        <header class="name-plate">
          <input class="char-name-input" name="name" type="text" value="{{actor.name}}"
            placeholder="{{localize "YZECORIOLIS.Name"}}" />
        </header>
        <div class="char-class">
          <input class="char-class-input" name="data.bio.concept" type="text" value="{{data.bio.concept}}"
            placeholder="{{localize "YZECORIOLIS.Concept"}}" />
        </div>
      </header>
      <div class="sheet-body">
        <header>
          <button class="nav-button"><img src="systems/yzecoriolis/css/icons/nav_back.svg"></button>
          <span class="panel-title">{{localize "YZECORIOLIS.SheetStats"}}</span>
          <button class="nav-button"><img class="flip" src="systems/yzecoriolis/css/icons/nav_back.svg"></button>
        </header>
        <div class="panel">
          <ul class="attribute-list">
            {{#each actor.data.attributes as |ability key|}}
            <li class="">
              <div class="flexcol attr-item">
                <div class="attr-block bg-{{key}}">
                  <div class="attr-num-display">
                    <input class="attr-input" type="text" name="data.attributes.{{key}}.value" value="{{ability.value}}"
                      data-dtype="Number" placeholder="0" />
                  </div>
                </div>
                <div class="attr-name">{{getAttributeName key}}</div>
                <div class="attr-rollable  rollable" data-rolltype="attribute" data-attributekey={{key}}
                  data-roll="(@attributes.{{key}}.value)d6" data-label="{{getAttributeName key}}"><img
                    src="systems/yzecoriolis/css/icons/rolling-dices.svg"></div>
              </div>
            </li>
            {{/each}}
          </ul>

          <div class="skills-list-group flexrow">
            <ol class="single-skill-list">
              <li class="skill-header">{{getSkillCategoryName 'general'}}</li>
              {{#each actor.data.skills as |skill id|}}
              {{#if_eq skill.category 'general'}}
              <li class="skill fr-basic">
                <div class="fr-basic rollable flex1" data-rolltype="skill" data-attributekey={{skill.attribute}}
                  data-skillkey={{id}} data-label="{{getSkillName id}}">
                  <div class="skill-image"></div>
                  <h4>{{getSkillName id}}</h4>
                  <div class="bg-skill-{{skill.attribute}}"></div>
                </div>

                <div class="skill-value-display">
                  <input class="skill-input" type="text" name="data.skills.{{id}}.value" value="{{skill.value}}"
                    data-dtype="Number" />
                </div>
              </li>
              {{/if_eq }}
              {{/each}}
            </ol>
            <ol class="single-skill-list">
              <li class=" skill-header">{{getSkillCategoryName 'advanced'}}</li>
              {{#each actor.data.skills as |skill id|}}
              {{#if_eq skill.category 'advanced'}}
              <li class="skill fr-basic">
                <div class="fr-basic rollable flex1" data-rolltype="advancedSkill" data-attributekey={{skill.attribute}}
                  data-skillkey={{id}} data-label="{{getSkillName id}}">
                  <div class="skill-image"></div>
                  <h4>{{getSkillName id}}</h4>
                  <div class="bg-skill-{{skill.attribute}}"></div>
                </div>

                <div class="skill-value-display">
                  <input class="skill-input" type="text" name="data.skills.{{id}}.value" value="{{skill.value}}"
                    data-dtype="Number" />
                </div>
              </li>
              {{/if_eq }}
              {{/each}}
            </ol>
          </div>

          <ul class="critical-injuries-list">
            <li class="crit-header">
              <h4>{{localize "YZECORIOLIS.CriticalInjuries"}}</h4>
              {{#if owner}}
              <div class="crit-add-controls">
                <a class="item-create" title='{{localize "YZECORIOLIS.CreateCriticalInjury"}}'
                  {{#each actor.injuryDataSet as |v k|}}data-{{k}}="{{v}}" {{/each}}>
                  <i class="fas fa-plus"></i> {{localize "YZECORIOLIS.Add"}}
                </a>
              </div>
              {{/if}}
            </li>
            {{#each actor.injuries as |injury id|}}
            <li class="injury fr-basic item" data-item-id="{{injury._id}}">
              <div class="injury-display flex1">
                <span>{{injury.name}}</span>
              </div>
              <div class="injury-description">
                {{!-- we're putting in the raw output here since description is already html markup from tinyMCE--}}
                <span>{{{injury.data.description}}}</span>
              </div>
              <div class="crit-controls">
                <a class="crit-control-widget item-edit" title={{localize "YZECORIOLIS.EditCriticalInjury"}}>
                  <i class="fas fa-edit"></i></a>
                <a class="crit-control-widget item-delete" title={{localize "YZECORIOLIS.DeleteCriticalInjury"}}><i
                    class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</form>