<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-container">
    <div class="key-art-container">
      <img class="vertical-img" src="{{data.keyArt}}" data-edit="data.keyArt" title="{{actor.name}}">
    </div>
    <div class="gradient-overlay"></div>
    <div class="always-visible-stats">
      <ol class="perma-stats-list">
        <li class="entry flexrow">
          <div class="stat-label">{{localize "YZECORIOLIS.HitPoints"}} ({{data.hitPoints.max}})</div>
          <div class="hp-bar">
            <div class="bg"></div>
            <div class="fill" style="--width-percentage: {{percentcss data.hitPoints.value data.hitPoints.max}}%;">
            </div>
            <div class="number">
              <input class="input-value" type="text" name="data.hitPoints.value" value="{{data.hitPoints.value}}"
                data-dtype="Number" />
            </div>
          </div>
        </li>
        <li class="entry flexrow">
          <div class="stat-label">{{localize "YZECORIOLIS.MindPoints"}} ({{data.mindPoints.max}})</div>
          <div class="mind-bar">
            <div class="bg"></div>
            <div class="fill" style="--width-percentage: {{percentcss data.mindPoints.value data.mindPoints.max}}%;">
            </div>
            <div class="number">
              <input class="input-value" type="text" name="data.mindPoints.value" value="{{data.mindPoints.value}}"
                data-dtype="Number" />
            </div>
          </div>
        </li>
        <li class="entry flexrow">
          <div class="stat-label">{{localize "YZECORIOLIS.Radiation"}}</div>
          <div class="radiation-bar fr-basic">
            {{#each actor.radiationBlocks as |on index|}}
            {{#if on}}
            <div class="radiation on" data-index={{index}}></div>
            {{else}}
            <div class="radiation off" data-index={{index}}></div>
            {{/if}}
            {{/each}}
            <span class="bar-value">{{data.radiation.value}}</span>
          </div>
        </li>
        <li class="entry flexrow">
          <div class="stat-label">{{localize "YZECORIOLIS.Experience"}}</div>
          <div class="xp-bar fr-basic">
            {{#each actor.xpBlocks as |on index|}}
            {{#if on}}
            <div class="xp on" data-index={{index}}></div>
            {{else}}
            <div class="xp off" data-index={{index}}></div>
            {{/if}}
            {{/each}}
            <span class="bar-value">{{data.experience.value}}</span>
          </div>
        </li>
        <li class="entry flexrow">
          <div class="stat-label">{{localize "YZECORIOLIS.Reputation"}}</div>
          <div class="number">
            <input class="input-value" type="text" name="data.reputation.value" value="{{data.reputation.value}}"
              data-dtype="Number" />
          </div>
        </li>
        <li class="entry flexrow">
          <span class="capitalize">{{localize "YZECORIOLIS.Birr"}}</span>
          <div class="number">
            <input class="input-value" type="text" name="data.birr" value="{{data.birr}}" data-dtype="Number" />
          </div>
        </li>
        <li class="entry flexrow">
          <div class="stat-label">{{localize "YZECORIOLIS.Icon"}}</div>
          <span>placeholder</span>
        </li>
      </ol>
    </div>
    <div class="char-content-wrapper">
      <header class="sheet-header">

        <header class="name-plate">
          <input class="char-name-input" name="name" type="text" value="{{actor.name}}"
            placeholder="{{localize "YZECORIOLIS.Name"}}" />
        </header>
        <div class="char-class">
          <input class="char-class-input" name="data.bio.concept" type="text" value="{{data.bio.concept}}"
            placeholder="{{localize "YZECORIOLIS.Concept"}}" />
        </div>
      </header>
      <div class="sheet-body">
        <nav class="navigation tabs" data-group="primary">
          <a class="item nav-link active" data-tab="stats">{{localize "YZECORIOLIS.SheetStats"}}</a>
          <a class="item nav-link" data-tab="talents">{{localize "YZECORIOLIS.SheetTalents"}}</a>
          <a class="item nav-link" data-tab="gear">{{localize "YZECORIOLIS.SheetItems"}}</a>
          <a class="item nav-link" data-tab="bio">{{localize "YZECORIOLIS.SheetBio"}}</a>
          <a class="item nav-link" data-tab="charnotes">{{localize "YZECORIOLIS.CharNotes"}}</a>
        </nav>

        <section class="sheet-panels">
          {{!-- Stats Tab --}}
          {{> "systems/yzecoriolis/templates/actor/parts/actor-stats2.html"}}


          <div class="tab panel" data-group="primary" data-tab="talents">1</div>
          <div class="tab panel" data-group="primary" data-tab="gear">2</div>
          <div class="tab panel" data-group="primary" data-tab="bio">3</div>
          <div class="tab panel" data-group="primary" data-tab="charnotes">4</div>
        </section>
      </div>
    </div>
  </div>
</form>