<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-container">
    <div class="key-art-container">
      <img class="vertical-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}">
    </div>
    <div class="gradient-overlay"></div>
    <div class="always-visible-stats">
      <ol class="perma-stats-list">
        <li class="entry flexrow">
          <div class="stat-label">{{localize "YZECORIOLIS.HitPoints"}}</div>
          <div class="bar hp-bar fr-basic">
            {{#each actor.hpBlocks as |on index|}}
            {{#with ../data as | data |}}
            {{#if on}}
            <div class="bar-segment on" data-name="data.hitPoints.value" data-index={{index}}
              data-current={{data.hitPoints.value}} data-min={{data.hitPoints.min}} data-max={{data.hitPoints.max}}>
            </div>
            {{else}}
            <div class="bar-segment off" data-name="data.hitPoints.value" data-index={{index}}
              data-current={{data.hitPoints.value}} data-min={{data.hitPoints.min}} data-max={{data.hitPoints.max}}>
            </div>
            {{/if}}
            {{/with}}
            {{/each}}
            <span class="bar-value">{{data.hitPoints.value}}</span>
          </div>
        </li>
        <li class="entry flexrow">
          <div class="stat-label">{{localize "YZECORIOLIS.MindPoints"}}</div>
          <div class="bar mind-bar fr-basic">
            {{#each actor.mindBlocks as |on index|}}
            {{#with ../data as | data |}}
            {{#if on}}
            <div class="bar-segment on" data-name="data.mindPoints.value" data-index={{index}}
              data-current={{data.mindPoints.value}} data-min={{data.mindPoints.min}} data-max={{data.mindPoints.max}}>
            </div>
            {{else}}
            <div class="bar-segment off" data-name="data.mindPoints.value" data-index={{index}}
              data-current={{data.mindPoints.value}} data-min={{data.mindPoints.min}} data-max={{data.mindPoints.max}}>
            </div>
            {{/if}}
            {{/with}}
            {{/each}}
            <span class="bar-value">{{data.mindPoints.value}}</span>
          </div>
        </li>
        <li class="entry flexrow">
          <div class="stat-label">{{localize "YZECORIOLIS.Radiation"}}</div>
          <div class="bar radiation-bar fr-basic">
            {{#each actor.radiationBlocks as |on index|}}
            {{#with ../data as | data |}}
            {{#if on}}
            <div class="bar-segment on" data-name="data.radiation.value" data-index={{index}}
              data-current={{data.radiation.value}} data-min={{data.radiation.min}} data-max={{data.radiation.max}}>
            </div>
            {{else}}
            <div class="bar-segment off" data-name="data.radiation.value" data-index={{index}}
              data-current={{data.radiation.value}} data-min={{data.radiation.min}} data-max={{data.radiation.max}}>
            </div>
            {{/if}}
            {{/with}}
            {{/each}}
            <span class="bar-value">{{data.radiation.value}}</span>
          </div>
        </li>
        <li class="entry flexrow">
          <div class="stat-label">{{localize "YZECORIOLIS.Experience"}}</div>
          <div class="bar xp-bar fr-basic">
            {{#each actor.xpBlocks as |on index|}}
            {{#with ../data as | data |}}
            {{#if on}}
            <div class="bar-segment on" data-name="data.experience.value" data-index={{index}}
              data-current={{data.experience.value}} data-min={{data.experience.min}} data-max={{data.experience.max}}>
            </div>
            {{else}}
            <div class="bar-segment off" data-name="data.experience.value" data-index={{index}}
              data-current={{data.experience.value}} data-min={{data.experience.min}} data-max={{data.experience.max}}>
            </div>
            {{/if}}
            {{/with}}
            {{/each}}
            <span class="bar-value">{{data.experience.value}}</span>
          </div>
        </li>
        <li class="entry flexrow">
          <div class="stat-label">{{localize "YZECORIOLIS.Reputation"}}</div>
          <div class="bar rep-bar fr-basic">
            {{#each actor.repBlocks as |on index|}}
            {{#with ../data as | data |}}
            {{#if on}}
            <div class="bar-segment on" data-name="data.reputation.value" data-index={{index}}
              data-current={{data.reputation.value}} data-min={{data.reputation.min}} data-max={{data.reputation.max}}>
            </div>
            {{else}}
            <div class="bar-segment off" data-name="data.reputation.value" data-index={{index}}
              data-current={{data.reputation.value}} data-min={{data.reputation.min}} data-max={{data.reputation.max}}>
            </div>
            {{/if}}
            {{/with}}
            {{/each}}
            <span class="bar-value">{{data.reputation.value}}</span>
          </div>
        </li>
        <li class="entry flexrow">
          <div class="capitalize stat-label">{{localize "YZECORIOLIS.Birr"}}</div>
          <div class="number">
            <input class="input-value" type="text" name="data.birr" value="{{data.birr}}" data-dtype="Number" />
          </div>
        </li>
        <li class="entry flexrow">
          <div class="stat-label">{{localize "YZECORIOLIS.Icon"}}</div>
          <div class="number">
            <input class="input-value" placeholder={{localize "YZECORIOLIS.Icon"}} type="text" name="data.bio.icon"
              value="{{data.bio.icon}}" data-dtype="String" />
          </div>
        </li>
      </ol>
    </div>
    <div class="char-content-wrapper">
      <header class="sheet-header">

        <header class="name-plate">
          <input class="char-name-input" name="name" type="text" value="{{actor.name}}"
            placeholder="{{localize "YZECORIOLIS.Name"}}" />
        </header>
        <div class="char-class">
          <input class="char-class-input" name="data.bio.concept" type="text" value="{{data.bio.concept}}"
            placeholder="{{localize "YZECORIOLIS.Concept"}}" />
        </div>
      </header>
      <div class="sheet-body">
        <nav class="navigation tabs" data-group="primary">
          <a class="item nav-link active" data-tab="stats">{{localize "YZECORIOLIS.SheetStats"}}</a>
          <a class="item nav-link" data-tab="talents">{{localize "YZECORIOLIS.SheetTalents"}}</a>
          <a class="item nav-link" data-tab="gear">{{localize "YZECORIOLIS.SheetItems"}}</a>
          <a class="item nav-link" data-tab="bio">{{localize "YZECORIOLIS.SheetBio"}}</a>
          <a class="item nav-link" data-tab="charnotes">{{localize "YZECORIOLIS.CharNotes"}}</a>
        </nav>

        <section class="sheet-panels">
          {{!-- Stats Tab --}}
          {{> "systems/yzecoriolis/templates/actor/parts/actor-stats.html"}}

          {{!-- Talents Tab --}}
          {{> "systems/yzecoriolis/templates/actor/parts/actor-talents.html"}}

          {{!-- Gear Tab --}}
          {{> "systems/yzecoriolis/templates/actor/parts/actor-gear.html"}}

          {{!-- Bio Tab --}}
          {{> "systems/yzecoriolis/templates/actor/parts/actor-bio.html"}}

          {{!-- Notes Tab --}}
          <div class="tab charnotes" data-group="primary" data-tab="charnotes">
            {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
          </div>
        </section>
      </div>
    </div>
  </div>
</form>