<form class="{{cssClass}}" autocomplete="off">
    <div class="ship">
        <div class="sheet-container">
            <div
                class="col-start-1 col-end-2 row-start-1 row-end-2 z-1 flex justify-center align-items-center overflow-hidden">
                <img class="border-1 border-solid border-white-1 rounded flex-shrink-0 box-none min-w-full min-h-full max-h-412"
                    src={{data.keyArt}} title="{{actor.name}}">
            </div>
            <div class="key-art-overlay">
                <input class="char-name-input" name="data.shipType" type="text" value="{{data.shipType}}"
                    placeholder="{{localize "YZECORIOLIS.ShipType"}}" />
                <input class="char-name-input name-input-spacer" name="name" type="text" value="{{actor.name}}"
                    placeholder="{{localize "YZECORIOLIS.Name"}}" />
                <div class="flex flex-grow flex-shrink-0 flex-basis-0 justify-end">
                    <div
                        class="background-blue-2 mg-r mg-b border-1 border-solid border-blue-1 rounded self-end min-h-75 flex-basis-294">
                        <div class="flexrow mg-l mg-t">
                            <span class="data-label-1 text-base blue-1">Class:</span>
                            <input class="input-base text-shadow-1 text-upper text-lg" name="data.class" type="text"
                                value="{{data.class}}" placeholder="{{localize "YZECORIOLIS.ShipClass"}}" />
                        </div>
                        <div class="flexrow mg-l mg-b">
                            <span class="data-label-1 text-base blue-1">Shipyard:</span>
                            <input class="input-base text-shadow-1 text-upper text-lg" name="data.shipyard" type="text"
                                value="{{data.shipyard}}" placeholder="{{localize "YZECORIOLIS.Shipyard"}}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="stats-container">

            </div>
        </div>
    </div>

</form>