<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="grid grid-2col">
                <div class="resource flexrow">
                    <label class="resource-label">Tech Tier</label>
                    <select class="gear-category" name="data.techTier">
                        {{#select data.techTier}}
                        {{#each config.techTiers as |label techTier|}}
                        <option value="{{techTier}}">{{label}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="resource flexrow">
                    <label class="resource-label">Quantity</label>
                    <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number" />
                </div>
                <div class="resource flexrow">
                    <label class="resource-label">Weight</label>
                    <select class="weight-category" name="data.weight">
                        {{#select data.weight}}
                        {{#each config.gearWeights as |label weight|}}
                        <option value="{{weight}}">{{label}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="resource">
                    <label class="resource-label">Restricted</label>
                    <input type="checkbox" name="data.restricted" data-dtype="Boolean" {{checked data.restricted}} />
                </div>
                <div class="resource flexrow">
                    <label class="resource-label">Bonus</label>
                    <input type="text" name="data.bonus" value="{{data.bonus}}" data-dtype="Number" />
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>