<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name" /></h1>
        </div>
        <div class="flexcol flex1">
            <div class="resource">
                <label class="resource-label">{{localize "YZECORIOLIS.FatalInjury"}}</label>
                <input type="checkbox" name="system.fatal" data-dtype="Boolean" {{checked system.fatal}} />
            </div>
            {{#if system.fatal}}
              <div class="resource numeric-input flexrow">
                  <label class="resource-label">{{localize "YZECORIOLIS.InjuryTimeLimitRoll"}}</label>
                  <input type="text" name="system.timeLimit" value="{{system.timeLimit}}"
                      data-dtype="String" />
              </div>
            {{/if}}
            <div class="resource numeric-input flexrow">
                <label class="resource-label">{{localize "YZECORIOLIS.InjuryHealTimeRoll"}}</label>
                <input type="text" name="system.healTime" value="{{system.healTime}}"
                    data-dtype="String" />
            </div>
        </div>
        {{> systems/yzecoriolis/templates/item/modifiers.html }}
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "YZECORIOLIS.Description"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor itemDescript target="system.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
