<div class="feature-section flexrow">
            <ol>
                <li class="special-feature-header flexrow">
                    <h3 class="feature-name flexrow">{{localize "YZECORIOLIS.ItemModifiers"}}</h3>
                    <div class="feature-controls">
                        <a class="feature-control itemModifier-create" title='{{localize "YZECORIOLIS.ItemModifierCreate"}}'>
                            <i class="fas fa-plus"></i> {{localize "YZECORIOLIS.Add"}}
                        </a>
                    </div>
                </li>
                {{#each system.itemModifiers as |itemmod id|}}
                <li class="special-feature flexrow"  data-item-id="{{id}}">
                    <div class="feature-name">
                        <select name="system.itemModifiers.{{id}}.mod">
                            {{#select itemmod.mod}}
                            <option value="itemModifierNone" disabled  selected>{{localize "YZECORIOLIS.ItemModifierSelect"}}</option>
                            <optgroup label="{{localize "YZECORIOLIS.Attributes"}}">
                              <option value="itemModifierAttrStrength">{{localize "YZECORIOLIS.AttrStrength"}}</option>
                              <option value="itemModifierAttrAgility">{{localize "YZECORIOLIS.AttrAgility"}}</option>
                              <option value="itemModifierAttrWits">{{localize "YZECORIOLIS.AttrWits"}}</option>
                              <option value="itemModifierAttrEmpathy">{{localize "YZECORIOLIS.AttrEmpathy"}}</option>
                            </optgroup>
                            <optgroup label="{{localize "YZECORIOLIS.SkillCatGeneral"}}">
                              <option value="itemModifierSkillDex">{{localize "YZECORIOLIS.SkillDexterity"}}</option>
                              <option value="itemModifierSkillForce">{{localize "YZECORIOLIS.SkillForce"}}</option>
                              <option value="itemModifierSkillInf">{{localize "YZECORIOLIS.SkillInfiltration"}}</option>
                              <option value="itemModifierSkillMan">{{localize "YZECORIOLIS.SkillManipulation"}}</option>
                              <option value="itemModifierSkillMelee">{{localize "YZECORIOLIS.SkillMeleeCombat"}}</option>
                              <option value="itemModifierSkillObs">{{localize "YZECORIOLIS.SkillObservation"}}</option>
                              <option value="itemModifierSkillRange">{{localize "YZECORIOLIS.SkillRangedCombat"}}</option>
                              <option value="itemModifierSkillSurv">{{localize "YZECORIOLIS.SkillSurvival"}}</option>
                            </optgroup>
                            <optgroup label="{{localize "YZECORIOLIS.SkillCatAdvanced"}}">
                              <option value="itemModifierSkillCom">{{localize "YZECORIOLIS.SkillCommand"}}</option>
                              <option value="itemModifierSkillCult">{{localize "YZECORIOLIS.SkillCulture"}}</option>
                              <option value="itemModifierSkillData">{{localize "YZECORIOLIS.SkillDataDjinn"}}</option>
                              <option value="itemModifierSkillMedi">{{localize "YZECORIOLIS.SkillMedicurgy"}}</option>
                              <option value="itemModifierSkillMys">{{localize "YZECORIOLIS.SkillMysticPowers"}}</option>
                              <option value="itemModifierSkillPil">{{localize "YZECORIOLIS.SkillPilot"}}</option>
                              <option value="itemModifierSkillSci">{{localize "YZECORIOLIS.SkillScience"}}</option>
                              <option value="itemModifierSkillTech">{{localize "YZECORIOLIS.SkillTechnology"}}</option>
                            </optgroup>
                            <optgroup label="{{localize "YZECORIOLIS.Other"}}">
                              <option value="itemModifierHP">{{localize "YZECORIOLIS.HitPoints"}}</option>
                              <option value="itemModifierMP">{{localize "YZECORIOLIS.MindPoints"}}</option>
                              <option value="itemModifierRad">{{localize "YZECORIOLIS.Radiation"}}</option>
                              <option value="itemModifierEnc">{{localize "YZECORIOLIS.Encumbrance"}}</option>
                              <option value="itemModifierMR">{{localize "YZECORIOLIS.MovementRate"}}</option>
                            </optgroup>
                            {{/select}}
                        </select>
                    </div>
                    <div style="flex: 1 1 10%;" title="{{localize "YZECORIOLIS.ItemModifierValue"}}">
                        <input name="system.itemModifiers.{{id}}.value" type="number" value="{{#if itemmod.value}}{{itemmod.value}}{{else}}0{{/if}}" style="text-align: center;"/>
                    </div>
                    <div class="feature-controls">
                      <a class="feature-control itemModifier-delete" title="{{localize 'YZECORIOLIS.ItemModifierDelete'}}" data-item-id="{{id}}"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
</div>
