<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{img}}"
      data-edit="img"
      title="{{name}}"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{name}}"
          placeholder="Name"
        />
      </h1>
      <div class="flexcol flex1">
        <div class="resource flexrow">
          <label class="resource-label">
            {{localize "YZECORIOLIS.TechTier"}}
          </label>
          <select class="gear-category" name="system.techTier">
            {{#select system.techTier}}
              {{#each config.techTiers as |label techTier|}}
                <option value="{{techTier}}">
                  {{label}}
                </option>
              {{/each}}
            {{/select}}
          </select>
        </div>
        <div class="resource">
          <label class="resource-label">
            {{localize "YZECORIOLIS.Restricted"}}
          </label>
          <input
            type="checkbox"
            name="system.restricted"
            data-dtype="Boolean"
            {{checked system.restricted}}
          />
        </div>
        <div class="resource flexrow">
          <label class="resource-label">
            {{localize "YZECORIOLIS.MoneyCostIncrease"}}
          </label>
          <input
            type="text"
            name="system.cost"
            value="{{system.cost}}"
            data-dtype="Number"
          />
        </div>
      </div>
        <div class="resource flexrow">
          <label class="resource-label">
            {{localize "YZECORIOLIS.Effect"}}
          </label>
          <input
            type="text"
            name="system.effect"
            value="{{system.effect}}"
            data-dtype="String"
          />
        </div>
      </div>
    </div>
  </header>
  {{! Sheet Tab Navigation }}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">
      {{localize "YZECORIOLIS.Description"}}
    </a>
  </nav>
  {{! Sheet Body }}
  <section class="sheet-body">
    {{! Description Tab }}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor
        itemDescript
        target="system.description"
        button=true
        owner=owner
        editable=editable
      }}
    </div>
  </section>
</form>