<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name" /></h1>
            <div class="grid grid-2col">
                <div class="resource flexrow talent-category">
                    <label class="resource-label">{{localize "YZECORIOLIS.Category"}}</label>
                    <select class="skill-category" name="data.category">
                        {{#select data.category}}
                        {{#each config.talentCategories as |label category|}}
                        <option value="{{category}}">{{label}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                {{#if_eq data.category 'group'}}
                <div class="resource flexrow">
                    <label class="resource-label">{{localize "YZECORIOLIS.GroupConcept"}}</label>
                    <select class="skill-attribute" name="data.groupConcept">
                        {{#select data.groupConcept}}
                        {{#each config.talentGroupConceptCategories as |label groupTalent|}}
                        <option value="{{groupTalent}}">{{label}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                {{else if_eq data.category 'cybernetic'}}
                  <div class="resource flexrow">
                    <label class="resource-label">{{localize "YZECORIOLIS.MoneyCost"}} ({{localize "YZECORIOLIS.Birr"}})</label>
                    <input type="number" name="data.cost" value="{{data.cost}}"
                        data-dtype="Number" />
                  </div>
                {{else if_eq data.category 'bionicsculpt'}}
                  <div class="resource flexrow">
                    <label class="resource-label">{{localize "YZECORIOLIS.MoneyCost"}} ({{localize "YZECORIOLIS.Birr"}})</label>
                    <input type="number" name="data.cost" value="{{data.cost}}"
                        data-dtype="Number" />
                  </div>
                {{else}}
                  <div class="flexrow"></div>
                {{/if_eq}}
                {{!-- Edit HP Bonus for this talent --}}
                <div class="resource flexrow">
                    <label class="resource-label">{{localize "YZECORIOLIS.HPBonus"}}</label>
                    <input type="number" name="data.hpBonus" value="{{data.hpBonus}}"
                        data-dtype="Number" />
                </div>
                {{!-- Edit MP Bonus for this talent --}}
                <div class="resource flexrow">
                    <label class="resource-label">{{localize "YZECORIOLIS.MPBonus"}}</label>
                    <input type="number" name="data.mpBonus" value="{{data.mpBonus}}"
                        data-dtype="Number" />
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "YZECORIOLIS.Description"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>


    </section>
</form>
