.tabs {
    height: 40px;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;

    .item {
        line-height: 40px;
        font-weight: bold;
    }

    .item.active {
        text-decoration: underline;
        text-shadow: none;
    }
}